<!-- <p>
  list-items works!
</p>
{{ collection | json }} -->

<div class="container">
  <!-- <ng-container *ngFor="let item of collection"> -->
<ng-container *ngFor="let item of collection$ | async">
    <app-item [itemInput]="item"></app-item>
  </ng-container>
</div>
