/* You can add global styles to this file, and also import other style files */
.card {
  margin-top: 1rem;
}

.state-a-livrer {
  color: red;
}

.state-en-cours {
  color: rgb(0, 255, 76);
}

.state-livree {
  color: rgb(25, 0, 255);
}
