<div class="card">
  <div class="card-header">
      <!-- <span class="state-a-livrer" *ngIf="state.ALIVRER === itemInput.state">{{ itemInput.state }}</span>
      <span class="state-en-cours" *ngIf="state.ENCOURS === itemInput.state">{{ itemInput.state }}</span>
      <span class="state-livree" *ngIf="state.LIVREE === itemInput.state">{{ itemInput.state }}</span> -->
      <span [appState]="itemInput.state">{{ itemInput.state }}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ itemInput.name }}</h5>
    <p class="card-text">{{ itemInput.reference }}</p>
    <a href="#" class="btn btn-primary">CONFIRM</a>
  </div>
</div>
